<table class="table table-striped">
  <thead class="text-center">
    <th>Id</th>
    <th>Slug</th>
    <th>Amount</th>
    <th>Donators</th>
    <th>Percentage %</th>
  </thead>

  <tbody class="text-center">
  <% @collections.each do |collection| %>

    <tr>

      <td> <%= collection.id %> </td>
      <td> <%= collection.slug %> </td>
      <td> <%= format_amount( collection.amount )%> </td>
      <td> <%= collection.donator %> </td>
      <td> <%= number_to_percentage(collection.percentage, precision: 0) %> </td>

    </tr>

  <% end %>
  </tbody>

  <tfoot class="text-center fw-bold bg-info bg-gradient">
    <tr>
      <td colspan='4'>Sum of donates</td>

      <%
        sum = 0
        @collections.each do |c|
          sum += c.amount.to_d
        end
      %>

      <td> <%= format_amount(sum) %></td>




    </tr>
  </tfoot>

</table>